.services__categories {
  margin-block-end: 50px;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
  padding: 30px;

  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}

.services__item--architecture {
  background-color: $brown;
}

.services__icon {
  grid-row: 1 / -1;
  display: block;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.services__item--interior .services__icon {
  inline-size: 45px;
  block-size: 30px;

  background-image: url("../images/services-1.webp");
}

.services__item--architecture .services__icon {
  inline-size: 44px;
  block-size: 34px;

  background-image: url("../images/services-2.webp");
}

.services__item--planning .services__icon {
  inline-size: 46px;
  block-size: 35px;

  background-image: url("../images/services-3.webp");
}

.services__title {
  font-size: fluid(16px, 24px);
  font-weight: 700;
  color: $black-darker;
}

.services__item--architecture .services__title {
  color: $white;
}

.services__desc {
  font-size: fluid(14px, 18px);
  color: $black-regular;
}

.services__item--architecture .services__desc {
  color: $white;
}


@media (min-width: $md) {
  .services__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 60px;
  }

  .services__item {
    inline-size: calc((100% - 30px) / 2);

    
  }
}


@media (min-width: $lg) {
  .services__item {
    justify-content: space-between;
    inline-size: calc((100% - 60px) / 3);
  }
}
