:where(.navBtn) {
  position: relative;
  
  display: block;
}

.navBtn {
  inline-size: 26px;
  block-size: 19px;
  padding: 0;

  cursor: pointer;
}

.navBtn__line {
  position: absolute;

  display: block;
  inline-size: 100%;
  block-size: 3px;

  background: #000;
  transition: 0.25s;
}

/* Closed */
.navBtn__line--1 {
  inset-block-start: 0;
}

.navBtn__line--2 {
  inset-block-start: 50%;
  transform: translateY(calc(-50% - 0.5px));
}

.navBtn__line--3 {
  inset-block-end: 0;
}

/* Opened */
.navBtn:has(:checked) .navBtn__line--1 {
  inset-block-start: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.navBtn:has(:checked) .navBtn__line--2 {
  opacity: 0;
}

.navBtn:has(:checked) .navBtn__line--3 {
  inset-block-end: 50%;
  transform: translateY(50%) rotate(-45deg);
}
