.container {
  max-inline-size: 1370px;
  margin-inline: auto;
  padding-inline: 20px;
}

.container--big {
  max-inline-size: 1500px;
}


@media (min-width: 1410px) {
  .container {
    padding-inline: 0px;
  }
}


@media (min-width: 1540px) {
  .container--big {
    padding-inline: 0px;
  }
}
