@import "../../assets/styles/base/_variables.scss";
@import "../../assets/styles/utilities/_fluid.scss";

.order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.order__figure {
  flex: 0 0 fluid(200px, 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 240px;

  background-color: #F9ECD7;
  border-radius: 30px;
}

.order__img {
  block-size: 100%;
  max-inline-size: 100%;
  
  mix-blend-mode: multiply;
  object-fit: contain;
}

.order__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.order__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.order__quantity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order__quantityLabel {
  flex-shrink: 0;
  display: none;

  font-weight: 700;
}

.order__quantityField {
  max-inline-size: 130px;
  
  text-align: center;
}

.order__totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-block-start: 30px;
}

.order__bottom {
  margin-block-start: fluid(30px, 100px);
  padding-inline: fluid(20px, 80px);
}

.order__btn {
  min-inline-size: unset;
}

.order__bottomBtn {
  margin-inline: auto;
}


@media (min-width: $sm) {
  .order__item {
    flex-direction: row;
  }

  .order__info {
    align-items: start;
  }

  .order__name {
    align-items: start;
  }
}


@media (min-width: $md) {
  .order__info {
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: center;
  }
  
  .order__name {
    margin-inline-end: auto;
  }
}


@media (min-width: $xl) {
  .order__quantityLabel {
    display: block;
  }
}
