.container {
  inline-size: 100%;
  max-inline-size: 1160px;
  margin-inline: auto;
  padding-inline: 20px;
}

.container--section {
  padding-block: fluid(30px, 70px);
}

@media (min-width: 1200px) {
  .container {
    padding-inline: 0;
  }
}
