*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


a,
summary {
  -webkit-tap-highlight-color: transparent;
}


button:not(:disabled) {
  cursor: pointer;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
input {
  margin: unset;
}
