@import "../../assets/styles/base/_variables.scss";

.offers {
  background-color: $color-main-regular;
}

.offers__subHeading,
.offers__heading {
  text-align: center;
}

.offers__heading {
  margin-block-end: fluid(10px, 50px);
}


@media (min-width: $container) {
  .offers__subHeading,
  .offers__heading {
      text-align: start;
  }
}
