.modal[open] {
  position: fixed;
  inset: 0;
  z-index: 3;

  display: grid;
  place-items: center;
  margin: 0;
  padding: 10px;
  inline-size: 100vw; /* Mandatory */
  block-size: 100vh; /* Mandatory */
  max-inline-size: 100%; /* Mandatory */
  max-block-size: 100%; /* Mandatory */

  overflow-y: scroll;
  background-color: rgb(0 0 0 / 0.6);
  border: none;
}
