/* ======================================================================== */
/* BUTTON */
/* ======================================================================== */
.buttonLink {
  padding: 15px;
  
  font-size: 1.3em;

  background-color: beige;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
}

.buttonLink:hover {
  
}

.buttonLink:active {
  
}

.buttonLink:focus {
  
}

.buttonLink:disabled {
  
}



/* ======================================================================== */
/* TEXT */
/* ======================================================================== */
.buttonLink__text {
  
}
