/* Вариант #1  (https://dev.to/gajus/my-favorite-css-hack-32g3) */

* { background-color: rgba(255,0,0,.2) !important; }
* * { background-color: rgba(0,255,0,.2) !important; }
* * * { background-color: rgba(0,0,255,.2) !important; }
* * * * { background-color: rgba(255,0,255,.2) !important; }
* * * * * { background-color: rgba(0,255,255,.2) !important; }
* * * * * * { background-color: rgba(255,255,0,.2) !important; }
* * * * * * * { background-color: rgba(255,0,0,.2) !important; }
* * * * * * * * { background-color: rgba(0,255,0,.2) !important; }
* * * * * * * * * { background-color: rgba(0,0,255,.2) !important; }



/* Вариант #2 */
body * { background-color: rgba(255,0,0,.2) !important; }
body * * { background-color: rgba(0,255,0,.2) !important; }
body * * * { background-color: rgba(0,0,255,.2) !important; }
body * * * * { background-color: rgba(255,0,255,.2) !important; }
body * * * * * { background-color: rgba(0,255,255,.2) !important; }
body * * * * * * { background-color: rgba(255,255,0,.2) !important; }
body * * * * * * * { background-color: rgba(255,0,0,.2) !important; }
body * * * * * * * * { background-color: rgba(0,255,0,.2) !important; }
body * * * * * * * * * { background-color: rgba(0,0,255,.2) !important; }



/* Вариант #3 */
*,
*::before,
*::after {
  border: 1px solid red !important;
  box-sizing: border-box !important;
}