// CONTAINER
$container: 1320px;


// SCREEN MEDIA BREAKPOINTS
$xl: 1100px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$sm-max: $md - 1px;


// COLORS
$white: #FFFFFF;

$black-regular: #646464;
$black-darker: #212121;

$gray-regular: #F8F8F8;
$gray-darker: #EEEEEE;
$gray-darkest: #C4C4C4;

$brown: #CAA892;
$brown-darker: #B0855B;

$green: #37806B;
$green-darker: #2e6b5a;


// FONT SIZE
$fontSize-30: fluid(18px, 30px);
$fontSize-24: fluid(16px, 24px);
$fontSize-16: fluid(12px, 16px);
$fontSize-18: fluid(14px, 18px);
