@import "../../assets/styles/base/_variables.scss";

.card {
  position: relative;
  
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 320px;
  padding: 20px;
  
  background-color: $color-gray-light;
  border-radius: 30px;
}

.card__category {
  align-self: flex-start;
  margin: 0 0 10px;
}

.card__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 310px;
  margin: 0;
}

.card__img {
  block-size: 100%;
  max-inline-size: 100%;
  
  mix-blend-mode: multiply;
  object-fit: contain;
}

.card__link {
  color: $color-main-regular;
  text-decoration: none;
}

.card__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.card__name {
  margin-block: 0 15px;

  font-size: $fontSize-fluid-20;
}

.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 15px;

  border-block-start: 1px solid #DEDDDD;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 0;
}

.card__oldPrice {
  font-size: $fontSize-fluid-15;
  color: #B8B8B8;
  text-decoration: line-through;
}

.card__currentPrice {
  font-weight: 700;
}
