:where(.plane) {
  display: inline-block;
}

.plane {
  inline-size: 112px;
  block-size: 72px;
}

.plane::before {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  
  background: url("../images/plane.svg") center / cover no-repeat;
}

.plane:hover::before {
  animation: flight 3s;
}


@keyframes flight {
  0%, 100% {
    translate: 0;
  }
  50% {
    translate: 100vw -100vh;
  }
  51% {
    translate: -100vw 100vh;
  }
}
